.darkTheme {
    --font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,system-ui,Droid Sans,Helvetica Neue,sans-serif;
    --theme-font-family-heading: 'Quicksand', sans-serif;
    /*#e6c833*/
    --color-primary-h: 50;
    --color-primary-s: 78%;
    --color-primary-l: 55%;
    
    --primary-color-50: #FDFBF1;
    --primary-color-100: #FBF6DF;
    --primary-color-200: #F6EBB6;
    --primary-color-300: #F2E292;
    --primary-color-400: #EDD769;
    --primary-color-500: #E6C833;
    --primary-color-600: #D6B61A;
    --primary-color-700: #BA9F17;
    --primary-color-800: #9A8413;
    --primary-color-900: #64560C;  

    --text-primary-50: #575614;
    --text-primary-500: #403707;
    --text-primary-900: #FFFFFF;
      /* calc(var(--color-primary-l) + calc(var(--lighten) * -1)) */
    /* --color-primary: var(--color-primary)  */
    --dark-theme: #bd93f9;
    --bg-color: #222430;

    /* --color-primary: hsl( */
    /*   var(--color-primary-h), */
    /*   var(--color-primary-s), */
    /*   calc(var(--color-primary-l) + var(--lighten)) */
    /* ); */
    /**/
    /* --color-primary-400: hsl( */
    /*   var(--color-primary-h), */
    /*   var(--color-primary-s), */
    /*   calc(var(--color-primary-l) - 18% ) */
    /* ); */
}

